<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PurpleTreeHouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PurpleTreeHouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PurpleTreeHouse.Properties.Settings>
            <setting name="UrlOrUnc" serializeAs="String">
                <value>http://tlhan-ghun.de/Dev/testPurpleTreehouse.xml</value>
            </setting>
            <setting name="AppIcon" serializeAs="String">
                <value>C:\ExampleAppIcon.png</value>
            </setting>
            <setting name="EnableSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultNotificationIcon" serializeAs="String">
                <value>C:\ExampleNotificationIcon.png</value>
            </setting>
            <setting name="DefaultDisplayTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DefaultNotificationClass" serializeAs="String">
                <value>DefaultClass</value>
            </setting>
            <setting name="ListOfNotificationClasses" serializeAs="String">
                <value>DefaultClass;AlertClass to use</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>PurpleTreehouse</value>
            </setting>
            <setting name="ShowErrorNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetAlreadySeenIds" serializeAs="String">
                <value>False</value>
            </setting>
        </PurpleTreeHouse.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PurpleTreeHouse.Properties.Settings>
            <setting name="LastIdShown" serializeAs="String">
                <value>0</value>
            </setting>
        </PurpleTreeHouse.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
